


html {
    min-height:100%
}
body {
    box-sizing: border-box;
    background-size: cover;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.5rem
}
 
  




header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}




.logo-container {
    flex: 1; 
}

.logo {
    font-weight: 700;
    margin-top: 15px;
}
.menu {
    padding-left: 5%;
}
nav {
    display: flex;
    flex-direction: row;
    flex: 3;
}

.li {
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

    

.button-row {
    display: flex;
    justify-content: space-between;
    padding-top: 20%;
}
  

p {
    text-align: center;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
    
    

.bottom-section {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.catchPhrase {
    text-align: center;
}
    

@media(max-width: 500px){
header {
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    }
.menu{
      justify-content: space-around;
      padding-top: 5%;
    }  

.logo-container {
      flex-direction: column;
      font-size: 1.2rem;;
      align-content: center;
  }  

    .nav-links {
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;;    
    }
    
    p {
        display: none;
    }
    .button-row {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
        
a {
    text-decoration: none; 
}