* {
    margin: 20 0 0 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url ("https://media.istockphoto.com/photos/water-drop-on-white-picture-id155276424?k=6&m=155276424&s=170667a&w=0&h=Oe1MfxIY8iTIe__q_EwEPvjmS6-nivOXVBRDzWY9f1o=");
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-links, .menu {
    display: flex;
}

.logo-container {
    flex: 1; 
}

.logo {
    font-weight: 700;
    margin-top: 15px;
}

nav {
    flex: 3;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: darkslategray;
    font-size: 18px;
    text-decoration: none;
}

.menu {
    flex: 1;
    justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
} 

.introduction {
    flex: 1;
}

h1 {
    text-shadow: 2px 2px #ffffff;
    font-size: 2.5 rem;
  }

.intro-text h1 {
    font-size: 44px;
    font-weight: 700;
}

.intro-text p {
    margin-top: 5px;
    margin-right: 20px;
    font-size: 21.5px; 
    font-weight: 500;
}

.cta {
    padding: 50px 0px 0px 0px;
    text-decoration: none;
}

/*.cta-signin {
    border: 2px solid #145722;
    background: white;
    color: #145722;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-signup {
    background: #145722;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 50px 0px 0px 30px;
} */

a {
    /*border: 2px solid #145722; */
    background: white;
    color: #145722;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    list-style: none; 
    text-decoration: none; 
}


h1 {
    color: #145722;
}


.cover {
    flex:1; 
}

.cover img {
    width: 850px;
    height: 680px;
    display: flex;
    position: absolute;
    right: 4%;
    top: 80px;
    margin: 20 0 0 0;
    z-index: -1;
    opacity: 0.8;
}

.droplet {
    display: flex;
    margin-left: 110px;
    margin-right: auto;
    width: 25%;
    height: 30%;
    opacity: 0.3;
    z-index: -2;
    animation: drop 0.4s ease;
    position: absolute;
    top: 71px;
}

/*.droplet-select {
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
}*/

@keyframes drop {
    0%{
        opacity: 0.8; 
        transform: translateY(-80px);
    }
    100%{
        opacity: 1; 
        transform: translateY(-80px)
    }
} 

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
    }
    
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 500px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 3){}